.backgroun-left {
  background: linear-gradient(100deg, #027196, #027196);
}

.backgroun-left {
  background: linear-gradient(100deg, #027196, #027196);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

.left-column {
  width: 90px;
  color: white;
  padding: 1rem;
  max-width: 10rem;
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left-column h2 {
  color: white;
}

.left-column  i {
  color: white;
  font-size: 3rem;
}

.right-column {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.right-column p {
  font-size: .9rem;
  color: black;
}

.buttonm {
  border-radius: 3rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  height: 25px;
  margin-top: 125px;
  text-align: center;
  background-color: #bcc3c4;
  width: 50px;
}

.buttonm :hover {
  color: #367b77;
}

hr {
  width: 90px;
  text-align: left;
  margin-left: 0;
  border-bottom: #ff8000 1px solid;
}

.backgroun-left {
  background: linear-gradient(100deg, #027196, #027196);
}

.backgroun-left {
  background: linear-gradient(100deg, #027196, #027196);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

.left-columnmimi {
  height: 3px;
}

.left-columnmimi h2 {
  color: white;
}

.left-columnmimi  i {
  color: white;
  font-size: 3rem;
}

.right-columnmimi {
  padding: 2rem;
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.right-columnmimi p {
  font-size: .9rem;
  color: black;
}


