.head{
    width:100%;
    height:40px;
    background-color: #ff8000;/*#03759b;*/
    text-align: left;
    padding: 0.5rem ;
    padding-right: 0%;



}
.navar{
  background: #027196;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
   box-sizing: border-box;
  border-bottom: #ff8000 1px solid;
  text-align:center

}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.perfil_user{
  background-attachment: fixed;
  background-color:transparent;
   width: auto;
   height: 40px;
   margin-left: auto;  margin-right:5px;
   flex-direction: column;
   justify-content: center;
   text-align: right;
   display: flex;
   align-items: center;
   position: relative;
   flex: 1;
}
.image{
    overflow: hidden;
    position: relative;
    border-radius:50% 50% 50% 50%;
    width:30px;
    height:30px;
    margin-left: auto;  margin-right:5px;
    align-items:center;
    text-align:right;
    vertical-align: middle;


}

h5{
  margin-right:10px;
  color: white;
  align-items:center;
  text-align:right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
}
h3{
  margin-right:15px;
  color:rgb(136, 143, 145);
  align-items:center;
  text-align:left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;

}
.title{

  width: 250px;
  height: 50px ;
  background-color:  #091b20;;;
  margin-bottom: 2px;
  background-attachment: fixed;
   justify-content: center;
   text-align: center;
   display: flex;
   align-items: center;
   position: relative;
   -webkit-filter: drop-shadow(2px 0px 8px rgb(58, 44, 44));
	filter: drop-shadow(2px 0px 8px rgb(63, 49, 49));

}

#imagetitle{
  overflow: hidden;
  position: relative;
  border-radius:50% 50% 50% 50%;
  width:30px;
  height:30px;
  margin-right: 5px;
  align-items:center;
  text-align:left;
  vertical-align: middle;
  background-color: #ff8000;
  float: left;
}

.Sidebar{
    background-color:#123e4b;
    padding: 0 0.5rem;
   flex-direction: column;
    height: 100vh;
    border-radius: 10px;

    width:250px;
  }
  .SidedarList {
    display: flex;
    color:#ffff;
    border-bottom: 1px solid rgb(60, 143, 168);
    flex-direction: row;
     align-items: center;
    height: 50px;
    padding: 10px;
    font-size: 15px;
    align-items:center;
    text-decoration: none;
    justify-content: left;
    margin: 0%;
    width: 100%;
    padding-left: -5%;

  }

.Dashboard{

 width: 220px;
 background-attachment: fixed;
 background-color:#027196;
 height: 30px;
 top: 10px;
 left: 24px;
 position: relative;
 border-radius: 30px 0px 0px 30px;
 text-align: left;
 color: aliceblue;
 padding-left: 30px;
 justify-content: left;
 box-sizing: border-box;
 border-bottom: #ff8000 1px solid;


}


  .SidedarList .row {
    width: 100%;
    height: 50px;

    list-style:nome ;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: wheat;
    justify-content: left;
    padding: 1px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px solid rgb(60, 143, 168);


  }
  .SidedarList .row:hover{
    cursor: pointer;
    background-color: rgb(60, 143, 168);
  }
  .SidedarList  #active{
      background-color: #293846;
  }


  .row #title{
    flex: 70%;
  }
 .submenu{
  display: flex;
  padding: 12px 18px;
  align-items: center;

 }
.section {
  max-height: 250px;
  padding: 1rem;
  overflow-y: auto;
  direction: ltr;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  p + p {
    margin-top: 1rem;
  }
}

.section::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
  min-height: 100hv;
}

.section::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}